.container {
  width: 100vw;
  height: 100vh;

  background: #11151a;

  display: flex;
  align-items: center;
  justify-content: center;

  .load {
    position: relative;
    width: 74px;
    height: 70px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background: #fff;
      width: 66px;
      height: 34px;
      border-radius: 0 0 50px 50px;
      animation: move 0.5s linear infinite alternate;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      background: #00ffdd;
      width: 29px;
      height: 29px;
      transform: translateX(-50%) rotate(0deg);
      animation: rotate 1.8s linear infinite;
    }
  }

  @keyframes rotate {
    100% {
      transform: translateX(-50%) rotate(360deg);
    }
  }

  @keyframes move {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
}
