.container {
  width: 100%;
  max-width: 100%;

  padding: 1rem;

  border: 1px solid #30363d;
  border-radius: 0.75rem;

  background-color: #0d1117;

  overflow: hidden;

  transition: 0.4s;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  @media (max-width: 590px) {
    padding: 0.8rem;
  }

  .title {
    padding: 1rem 2rem 2rem 2rem;
    line-height: 1.2;

    @media (max-width: 590px) {
      padding: 1rem 1rem 1rem 1rem;
    }

    h1 {
      font-size: 3rem;
      background: -webkit-linear-gradient(-70deg, #a2facf 0%, #0077ff 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
      -webkit-box-decoration-break: clone;
    }

    p {
      color: #8b949e;
      padding-top: 1.5rem;
      font-size: 1.2rem;
      font-weight: 500;

      @media (max-width: 1325px) {
        font-size: 1rem;
      }

      span {
        color: #fff;
      }
    }
  }

  .icons {
    padding-top: 1rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: 590px) {
      gap: 0.5rem;
    }

    .icon {
      width: 45px;

      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 590px) {
        width: 30px;
      }

      .icon_img {
        width: 100%;
      }
    }
  }
}
