.container {
  width: 100%;
  max-width: 100%;

  margin-top: 8rem;
  padding: 1rem;

  overflow: hidden;

  background-color: #0d1117;

  border: 1px solid #232930;
  border-radius: 0.75rem;

  @media (max-width: 590px) {
    padding: 0.8rem;
  }

  .title {
    padding: 1rem 2rem 2rem 2rem;

    @media (max-width: 590px) {
      padding: 1rem 1rem 1rem 1rem;
    }

    h1 {
      font-size: 3rem;
      font-family: "PP Neue Machina, Ultrabold";
      background: -webkit-linear-gradient(-70deg, #a2facf 0%, #0077ff 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
      -webkit-box-decoration-break: clone;
    }

    p {
      color: #8b949e;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.2rem;
      font-weight: 500;

      padding-bottom: 1rem;

      border-bottom: 1px solid #232930;

      @media (max-width: 1325px) {
        font-size: 1rem;
      }

      &:hover {
        background-color: #9d9d9d12;
      }

      span {
        color: #fff;
      }
    }
  }
}
