.navbar {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1000;

  width: 100vw;
  padding: 0 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--nav-bg);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border-bottom: 1px solid var(--nav-border-color);

  .logo {
    width: 90px;
  }

  .nav_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links {
    text-align: center;

    .link,
    .active_link {
      padding: 0.7rem 1.5rem;
      margin: 0 0.2rem;

      border-radius: 0.3rem;

      font-size: 1.1rem;
      font-weight: 600;
      color: var(--nav-text-color);

      transition: 0.5s;
    }

    .link:hover {
      background-color: var(--nav-bg-active);
    }

    .active_link {
      outline: 1px solid var(--nav-outline-color);
      color: var(--nav-text-active-color);
    }
  }
}

.burger_menu {
  display: none;
}

@media (max-width: 900px) {
  .navbar {
    .nav_right {
      display: none;
    }
  }
}
