.boxes_container {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  .big_box {
    width: 100%;

    padding: 1rem;

    background-color: #0d1117;

    border: 1px solid #30363d;
    border-radius: 0.75rem 0.75rem 0 0;

    position: relative;

    display: flex;
    gap: 1.5rem;

    @media (max-width: 1325px) {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap-reverse;
    }

    .box_content {
      width: 50%;

      padding: 1rem 0 1rem 1.5rem;

      display: flex;
      flex-direction: column;

      @media (max-width: 1325px) {
        width: 100%;

        padding: 1rem 1rem 1rem 1rem;
      }

      .box_text {
        line-height: 1.2;

        .title {
          font-size: 3rem;
          background: -webkit-linear-gradient(-70deg, #a2facf 0%, #0077ff 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: rgba(0, 0, 0, 0);
          -webkit-box-decoration-break: clone;
        }

        .desc {
          color: #8b949e;
          padding-top: 1.5rem;
          font-size: 1.2rem;
          font-weight: 500;

          @media (max-width: 1325px) {
            padding-top: 1rem;
            font-size: 1rem;
          }

          span {
            color: #fff;
          }
        }
      }

      .box_icons {
        margin-top: auto;
        display: flex;
        gap: 0.5rem;

        @media (max-width: 1325px) {
          margin-top: 1.8rem;
        }

        .icon {
          width: 55px;
          padding: 0.8rem;

          background-color: #1b232b;

          border-radius: 50%;

          transition: 0.4s;

          &:hover {
            background-color: #495d71;
          }

          @media (max-width: 1325px) {
            width: 40px;
            padding: 0.5rem;
          }
        }
      }
    }

    .box_img {
      width: 50%;

      @media (max-width: 1325px) {
        width: 100%;
      }

      img {
        width: 100%;
        border-radius: 0.75rem;
      }
    }
  }

  .litle_boxes {
    width: 100%;

    display: flex;
    gap: 0.5rem;

    overflow: hidden;

    @media (max-width: 1025px) {
      flex-wrap: wrap;
    }

    .left_content {
      width: 50%;

      @media (max-width: 1025px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;

        border-radius: 0 0 0 0.75rem;

        @media (max-width: 1025px) {
          border-radius: 0;
        }
      }
    }

    .right_content {
      width: 50%;

      @media (max-width: 1025px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;

        border-radius: 0 0 0.75rem 0;

        @media (max-width: 1025px) {
          border-radius: 0 0 0.75rem 0.75rem;
        }
      }
    }
  }

  .box {
    margin-top: 2rem;

    width: 100%;

    display: flex;
    gap: 0.5rem;

    @media (max-width: 1025px) {
      flex-wrap: wrap;
    }

    .left_content {
      display: flex;
      flex-direction: column;

      padding: 1rem;

      width: 50%;

      background-color: #0d1117;

      border: 1px solid #30363d;
      border-radius: 0.75rem 0 0 0.75rem;

      @media (max-width: 1025px) {
        width: 100%;

        border-radius: 0.75rem 0.75rem 0 0;
      }

      .box_text {
        padding: 1rem 0 1rem 1.5rem;
        line-height: 1.2;

        .title {
          font-size: 3rem;
          background: -webkit-linear-gradient(-70deg, #a2facf 0%, #0077ff 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: rgba(0, 0, 0, 0);
          -webkit-box-decoration-break: clone;
        }

        .desc {
          color: #8b949e;
          padding-top: 1.5rem;
          font-size: 1.2rem;
          font-weight: 500;

          @media (max-width: 1325px) {
            padding-top: 1rem;
            font-size: 1rem;
          }

          span {
            color: #fff;
          }
        }
      }

      .box_icons {
        margin-top: auto;

        padding: 1rem 0 1rem 1.5rem;

        display: flex;
        gap: 0.5rem;

        @media (max-width: 1325px) {
          margin-top: 1.8rem;
        }

        .icon {
          width: 55px;
          padding: 0.8rem;

          background-color: #1b232b;

          border-radius: 50%;

          transition: 0.4s;

          &:hover {
            background-color: #495d71;
          }

          @media (max-width: 1325px) {
            width: 40px;
            padding: 0.5rem;
          }
        }
      }
    }

    .right_content {
      width: 50%;

      @media (max-width: 1025px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;

        border-radius: 0 0.75rem 0.75rem 0;

        @media (max-width: 1025px) {
          border-radius: 0 0 0.75rem 0.75rem;
        }
      }
    }
  }
}
