.page_wrapper {
  .page_content {
    .box_container {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .box {
        width: 100vw;

        max-width: 100%;

        padding: 1rem;

        display: flex;

        position: relative;
        overflow: hidden;

        background-color: #161b22e3;

        border: 1px solid #30363d;
        border-radius: 0.75rem 0.75rem 0 0;

        transition: 0.4s;

        &:hover {
          filter: drop-shadow(0 0 2em #646cffaa);
        }

        .box_image {
          width: 900px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 0.75rem;
          }
        }

        .box_title {
          padding: 1rem 1rem 1rem 3rem;
          line-height: 1.2;

          h3 {
            font-size: 3rem;
            color: #fff;
          }

          p {
            color: rgba(235, 245, 255, 0.5);
            padding-top: 1.5rem;
            font-size: 1.2rem;
            font-weight: 500;

            span {
              color: #7ee787;
            }
          }
        }
      }

      .litle_boxes {
        display: flex;
        gap: 0.3rem;

        .box {
          border-radius: 0 0 0 0.75rem;

          padding: 0;

          .box_image {
            width: 100%;

            img {
              width: 100%;
              height: 100%;

              border-radius: 0 0 0 0;
            }
          }

          &:last-child {
            border-radius: 0 0 0.75rem 0;
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .page_wrapper {
    .page_content {
      .box_container {
        .box {
          flex-direction: column-reverse;

          .box_image {
            width: 100%;
          }

          .box_title {
            width: 100%;
            padding: 1rem 1rem 2rem 1rem;

            h3 {
              font-size: 2.5rem;
            }

            p {
              padding-top: 1rem;
              font-size: 1rem;
            }
          }
        }

        .litle_boxes {
          flex-wrap: wrap;

          .box {
            border-radius: 0 0 0 0;

            &:last-child {
              border-radius: 0 0 0.75rem 0.75rem;
            }
          }
        }
      }
    }
  }
}
