.contact_page {
  margin-top: 9rem;

  .form_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    margin: 2rem;

    .box_img {
      background: linear-gradient(
          rgba(9, 16, 25, 0.321),
          rgba(9, 16, 25, 0.705)
        ),
        url("https://assets.materialup.com/uploads/687164d6-98f4-43ff-a64c-09477445b3a6/preview.png")
          no-repeat center/cover;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      width: 100%;
      height: 100%;

      color: #fff;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.01rem;
    }

    .form {
      min-height: 650px;

      padding: 0.5rem 1.5rem;

      display: flex;
      flex-direction: column;

      background-color: #f7f8fe;

      border-radius: 1rem;
      border: 1px solid var(--nav-outline-color);

      outline: none;

      .label {
        padding: 0.8rem 0.5rem;
        font-size: 1.1rem;
        font-weight: 600;
        color: #1f242b;
      }

      span {
        padding: 1rem 0 0.5rem 0.2rem;
        color: rgb(85, 73, 255);
      }

      .input,
      .textarea {
        width: 480px;

        padding: 0.9rem 1rem;

        border-radius: 0.4rem;
        border: 1px solid #dadada;

        outline: none;

        font-size: 1.1rem;
        font-weight: 500;
        color: #161b20;

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-size: 1.1rem;
          font-weight: 500;
          color: #bdbdbd;
        }
      }

      .textarea {
        max-width: 480px;
        min-height: 3.3rem;
        min-width: 3.3rem;
        font-family: "Proxima Nova", sans-serif;
        margin-bottom: 1rem;
      }

      .form_btn {
        width: 100%;
        padding: 1.2rem;
        margin-top: auto;
        margin-bottom: 1rem;

        border-radius: 0.4rem;
        border: none;
        outline: none;

        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.04rem;

        background-color: #1f242b;
        color: #ffffff;

        cursor: pointer;

        transition: background-color 0.8s, outline 0.4s, color 0.6s;

        &:hover {
          background-color: rgb(85, 73, 255);
        }
      }
    }
  }
}

@media (max-width: 837px) {
  .contact_page {
    margin-top: 6rem;
    .form_wrapper {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin: 0;

      .box_img {
        height: 120px;
      }

      .form {
        padding: 0.4rem 1rem;
        .input,
        .textarea {
          max-width: 340px;
        }
      }
    }
  }
}
