.page_wrapper {
  position: absolute;
  left: 0;
  top: 0;

  z-index: 500;

  min-width: 100vw;
  min-height: 100vh;

  background: #161b22;

  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .page_container {
    width: 100%;
    max-width: 900px;

    padding: 1rem;

    border-radius: 1rem;
    border: 1px solid #c7daff52;
    background-color: #101621;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .title_wrapper {
      position: relative;
      padding-bottom: 2rem;
      text-align: center;

      // &::after {
      //   content: "";

      //   position: absolute;
      //   left: 0;
      //   bottom: 0;

      //   width: 100%;
      //   height: 1px;

      //   background-color: #c7daff30;
      //   border-radius: 0.3rem;
      // }

      .title {
        font-size: 1.6rem;
        font-weight: 500;
        color: #fff;
      }
    }

    .form {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      @media (max-width: 715px) {
        grid-template-columns: 1fr;
      }

      .input_container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .span {
          color: #00ffa6;
          font-size: 1rem;
          padding-left: 0.5rem;
        }

        .photo {
          margin-left: 0.4rem;

          width: 120px;
          height: 120px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .input,
        .input_error {
          width: 100%;

          padding: 0.9rem 1rem;

          background-color: transparent;

          border-radius: 10px;
          border: 1px solid #232930;

          outline: none;

          font-size: 1.1rem;
          font-weight: 500;
          color: #fff;

          &:focus {
            outline: none;
            border: 1px solid #414d5a;
          }

          &::placeholder {
            font-size: 1.1rem;
            font-weight: 500;
            color: #414d5a;
          }
        }

        .input_error {
          border-color: #ff0000;

          &:focus {
            border-color: #ff000063;
          }
        }
      }
    }

    .buttons {
      margin-top: auto;
      margin-left: auto;

      display: flex;
      gap: 0.5rem;

      .close,
      .submit,
      .submited {
        padding: 0.8rem 1.5rem;

        cursor: pointer;

        border: none;
        border-radius: 8px;
        outline: none;

        font-size: 1rem;
        color: rgb(255, 78, 78);

        background-color: rgba(255, 78, 78, 0.1);

        transition: 0.4s;

        @media (max-width: 520px) {
          cursor: default;
        }

        &:hover {
          background-color: rgba(255, 78, 78, 0.247);
        }

        &:active {
          background-color: rgba(255, 43, 43, 0.345);
        }
      }

      .submit {
        color: rgb(78, 255, 131);

        background-color: rgba(78, 255, 131, 0.1);

        &:hover {
          background-color: rgba(78, 255, 131, 0.255);
        }

        &:active {
          background-color: rgba(78, 255, 131, 0.41);
        }
      }

      .submited {
        color: rgba(161, 255, 189, 0.484);
        cursor: not-allowed;
        background-color: rgba(161, 255, 189, 0.1);

        &:hover {
          background-color: rgba(78, 255, 131, 0.1);
        }
      }
    }
  }
}
