.page_wrapper {
  width: 100vw;
  max-width: 1500px;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;

  .container {
    display: flex;

    .box {
      width: 100%;
      min-width: 680px;
      max-width: 1000px;
      height: 600px;

      position: relative;
      overflow: hidden;

      margin: 1rem;

      background: url("../../../assets/background.jpg") no-repeat center/cover;
      border-radius: 10px;

      &:last-child {
        max-width: 450px;
        min-width: 200px;
        background: url("../../../assets/sherbolot.jpg") no-repeat center/cover;
      }

      .box_title {
        padding: 3rem 0 3rem 4rem;

        h3 {
          color: #fff;
          width: 80%;
          font-size: 3rem;
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .page_wrapper {
    margin-top: 6rem;

    .container {
      flex-wrap: wrap-reverse;

      .box {
        min-width: 300px;
        height: 350px;

        &:last-child {
          max-width: 900px;

          height: 350px;
        }

        .box_title {
          padding: 3rem 0 3rem 3rem;

          h3 {
            color: #fff;
            width: 90%;
            font-size: 2rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}
