.page_wrapper {
  width: 100vw;
  max-width: 1200px;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;

  .container {
    .home_content {
      display: flex;
      align-items: center;
      justify-content: center;

      min-height: 45vh;

      margin: 0 2rem;

      .home_title {
        h3 {
          color: #fff;
          font-size: 3.5rem;
          font-weight: 700;

          .type {
            color: rgb(85, 73, 255);
            text-shadow: 0 0 px rgba(85, 73, 255, 0.638);
          }
        }
      }
    }

    .box_container {
      display: flex;
      flex-direction: column;

      margin: 1rem;
      gap: 1rem;
    }
  }
}

@media (max-width: 950px) {
  .page_wrapper {
    margin-top: 6rem;

    .container {
      .home_content {
        min-height: 30vh;

        .home_title {
          h3 {
            font-size: 2.5rem;

            .type {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}
