.page_wrapper {
  width: 100vw;
  max-width: 1300px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;

  .container {
    .home_content {
      display: flex;
      align-items: start;
      justify-content: center;

      flex-direction: column;

      min-height: 60vh;

      margin: 0 2rem;

      .home_image {
        width: 135px;
        padding-bottom: 2rem;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }

      .home_title {
        h3 {
          color: #fff;
          font-size: 3.8rem;
          font-weight: 700;

          .type {
            color: #6459ff;
          }
        }
      }
    }

    .box_container {
      display: flex;
      flex-direction: column;

      margin: 1rem;
      gap: 1rem;
    }
  }
}

@media (max-width: 950px) {
  .page_wrapper {
    margin-top: 6rem;

    .container {
      .home_content {
        min-height: 40vh;

        .home_image {
          width: 120px;
        }

        .home_title {
          h3 {
            font-size: 2.5rem;

            .type {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}
