.post_page {
  width: 100vw;
  max-width: 900px;

  margin-top: 9rem;
  padding: 0 1rem 0 1rem;

  .post {
    .post_author {
      display: flex;
      align-items: center;

      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;

        gap: 0.8rem;

        .userdata {
          display: flex;
          gap: 0.5rem;

          .user_logo {
            width: 50px;
            height: 50px;

            position: relative;

            @media (max-width: 515px) {
              width: 42px;
              height: 42px;
            }

            &::after {
              content: "";

              width: 13px;
              height: 13px;

              border-radius: 50%;

              position: absolute;
              right: 0;
              bottom: 0;

              background-color: #54ffcf;
            }

            img {
              width: 100%;
              border-radius: 50%;
              object-fit: cover;
              background-color: #7ea7e6;
            }
          }

          .user_info {
            display: flex;
            justify-content: center;
            flex-direction: column;

            gap: 0.08rem;

            @media (max-width: 515px) {
              gap: 0.07rem;
            }

            .username {
              font-size: 1.1rem;
              font-weight: 600;
              color: #fff;

              @media (max-width: 515px) {
                font-size: 0.9rem;
              }
            }

            .date {
              font-size: 0.9rem;
              font-weight: 400;
              color: #e2ebff8f;

              @media (max-width: 515px) {
                font-size: 0.85rem;
              }
            }
          }
        }
      }
    }

    .post_content {
      .image_wrapper {
        margin-top: 1.7rem;

        width: 100%;

        .img {
          width: 100%;
          border-radius: 12px;
        }
      }

      .header {
        margin-top: 2rem;

        display: flex;
        align-items: center;
        gap: 1rem;

        @media (max-width: 515px) {
          margin-top: 1.6rem;
          gap: 0.8rem;
        }

        .back_icon {
          cursor: pointer;

          @media (max-width: 520px) {
            cursor: default;
          }
        }

        .title {
          font-size: 2.6rem;
          font-weight: 700;

          background: -webkit-linear-gradient(-70deg, #a2facf 0%, #0077ff 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: rgba(0, 0, 0, 0);
          -webkit-box-decoration-break: clone;

          @media (max-width: 515px) {
            font-size: 2rem;
          }
        }

        .span {
          text-align: center;
          text-transform: uppercase;

          padding: 0.3rem 1.4rem;
          font-size: 0.9rem;
          font-weight: 600;
          border-radius: 0.35rem;
          background: #a2facf;

          @media (max-width: 515px) {
            font-size: 0.8rem;
            padding: 0.25rem 1.2rem;
          }
        }

        .today {
          background: #ffffff;
          color: #ff4000;
        }
      }

      .subtitle {
        margin-top: 3rem;

        font-size: 1.8rem;
        font-weight: 800;
        line-height: 1.2;
        text-decoration: 2px underline #a2facf;
        font-family: "PP Neue Machina, Ultrabold";
        color: #fff;

        @media (max-width: 515px) {
          margin-top: 3.5rem;
          font-size: 1.4rem;
        }
      }

      .desc {
        margin-top: 1rem;

        font-size: 1.2rem;
        font-weight: 500;
        color: #f2f6ff;

        @media (max-width: 515px) {
          font-size: 1rem;
        }
      }
    }
  }
}
