.post_page {
  width: 100vw;
  max-width: 1300px;

  margin-top: 9rem;
  padding: 0 1rem 0 1rem;

  .post {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;

    @media (max-width: 630px) {
      gap: 1rem;
    }

    .image_wrapper {
      width: 100%;

      display: flex;
      flex-direction: column;
      position: relative;

      .img {
        width: 100%;
        object-fit: cover;

        border-radius: 12px;
      }

      .span {
        text-align: center;
        text-transform: uppercase;

        margin-top: 2rem;
        margin-left: auto;

        padding: 0.4rem 1.3rem;

        font-size: 1rem;
        font-weight: 600;
        border-radius: 0.45rem;
        background: #a2facf;

        @media (max-width: 630px) {
          position: absolute;
          right: 0;
          top: -80px;

          font-size: 0.9rem;
          padding: 0.3rem 1.2rem;
        }
      }
    }

    .post_content {
      display: flex;
      flex-direction: column;

      .link {
        max-width: 110px;
        color: #e2ebff8f;
        font-size: 1rem;
        padding-bottom: 1rem;

        @media (max-width: 630px) {
          cursor: none;
        }
      }

      .user {
        width: 100%;

        max-width: 310px;

        display: flex;
        gap: 0.6rem;

        @media (max-width: 630px) {
          max-width: 240px;
        }

        .logo {
          width: 70px;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 630px) {
            width: 50px;
          }

          img {
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .user_info {
          display: flex;
          justify-content: center;
          flex-direction: column;

          line-height: 1;

          .username {
            font-size: 1.6rem;
            font-weight: 600;
            color: #fff;

            @media (max-width: 630px) {
              font-size: 1rem;
            }
          }

          .user_email {
            font-size: 1rem;
            font-weight: 500;
            color: #fff;

            @media (max-width: 630px) {
              font-size: 0.9rem;
            }
          }
        }
      }

      .text {
        display: flex;
        flex-direction: column;

        margin-top: 0.2rem;
        line-height: 1.2;

        @media (max-width: 630px) {
          font-size: 0.6rem;
        }

        .date {
          margin-left: auto;
          margin-bottom: 0.3rem;
          font-size: 1.1rem;
          font-weight: 400;
          color: #e2ebff8f;

          @media (max-width: 630px) {
            font-size: 0.8rem;
            margin-top: 0.5rem;
            margin-left: 0;
          }
        }

        .title {
          display: flex;
          align-items: center;

          gap: 1.3rem;

          @media (max-width: 630px) {
            gap: 0;
          }

          h3 {
            font-size: 2.6rem;
            font-weight: 700;

            background: -webkit-linear-gradient(
              -70deg,
              #a2facf 0%,
              #0077ff 100%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
            -webkit-box-decoration-break: clone;

            @media (max-width: 630px) {
              font-size: 2rem;
            }

            @media (max-width: 385px) {
              font-size: 1.6rem;
            }
          }
        }

        .desc {
          margin-top: 0.8rem;

          font-size: 1rem;
          font-weight: 500;
          color: #fff;

          @media (max-width: 630px) {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
