.page {
  width: 100vw;
  max-width: 1300px;
  min-height: 85vh;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  overflow: hidden;

  .img {
    width: 500px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  .title {
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    line-height: 0.4;
    font-size: 180px;
    color: #00ffbbeb;

    @media (max-width: 1325px) {
      font-size: 130px;
    }

    span {
      padding: 0.2rem 0.5rem;
      font-size: 1.2rem;
      font-weight: 600;
      color: #171c24;
      background-color: #00ffbbeb;
      font-family: "PP Neue Machina, Ultrabold";

      @media (max-width: 1325px) {
        font-size: 1rem;
      }
    }
  }
}
