.profile {
  padding: 1rem;

  gap: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  border: 1px solid #c7daff52;

  background-color: #080d1728;
  backdrop-filter: blur(4px);

  .user_img {
    width: 80px;
  }

  .user_data {
    .username {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
    }

    .email {
      font-size: 1rem;
      font-weight: 500;
      text-decoration: underline;
      color: #dbefffa9;
    }
  }

  .btn {
    padding: 0.7rem;

    width: 30%;

    border: none;
    border-radius: 7px;
    outline: none;

    font-size: 1rem;
    font-weight: 500;
    color: #ffffff45;

    background-color: transparent;

    transition: 0.4s;

    &:hover {
      color: #fff;
      background-color: #ff2c2c;
    }
  }
}
