.page_wrapper {
  width: 100vw;
  max-width: 1270px;
  margin-top: 9rem;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
