@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  font-family: "Proxima Nova", sans-serif;
  background: #161b22;
  
  background-image: radial-gradient(#ffffff1c, 0.8px, transparent 0);
  background-size: 20px 20px;

  // background-image: radial-gradient(#ffffff1c, 0.8px, transparent 0);
  // font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:root {
  --nav-bg: #161b22e7;
  --nav-text-bg-active: #e2e2e22c;
  --nav-text-color: #ffffffa8;
  --nav-text-accent-color: #4209ed;
  --nav-text-active-color: #ffffff;
  --nav-border-color: #5656563f;
  --nav-outline-color: #d9d9d92e;
}
